body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    width: 400px;
    height: 285px;
    margin: 10px auto;
    padding: 15px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
}
table {
    border-collapse: collapse;
    font-size: 10px;
}
th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
 }

.container label {
    margin-bottom: 10px;
}

.container input[type="text"] {
    padding: 8px;
    font-size: 16px;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-container button {
    flex: 1;
    margin-right: 10px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container button i {
    margin-right: 5px;  
}

.input {
    height: 30px;
}

.hidden {
    display: none;
}

#resultContainer {
    white-space: pre-line;
    word-break: normal;
    overflow-wrap: break-word;
    padding: 5px;
    margin-bottom: 10px; 
  }